// color
$color_white = #fff
$color_black = #333


// bg color
$bgColor_default = $color_white


// text color
$textColor_default = $color_black


// font size
$fontSize_default = rem(13px)


// line height
$lineHeight_default = 1.7


// letter spacing
$letterSpacing_default = 0.03em


// media query
$mq_pcLarge = only screen, min-width 1200px
$mq_pc = only screen, max-width 1199px
$mq_tablet = only screen, max-width 940px
$mq_smartphone = only screen, max-width 640px