// color
$color_white = #fff
$color_black = #1a1a1a
$color_lightGray = #fafafa
$color_darkGray = #999


// bg color
$bgColor_default = $color_white
$bgColor_inverse = $color_black


// text color
$textColor_default = $color_black
$textColor_inverse = $color_white
$textColor_sub = $color_darkGray


// font family
$fontFamily_default = 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif


// font size
$fontSize_default = rem(13px)


// line height
$lineHeight_default = 1.7
$lineHeight_title = 1.4


// letter spacing
$letterSpacing_default = 0.03em


// width
$width_base = 940px


// media query
$mq_pcLarge = only screen, min-width 1200px
$mq_pc = only screen, max-width 1199px
$mq_tablet = only screen, max-width 899px
$mq_spLarge = only screen, max-width 639px
$mq_sp = only screen, max-width 399px